<%= form_for [@post, @comment] do |f| %>
  <div class="form-group">
    <%= f.text_field :title, :placeholder => "Comment Title" %>
  </div>
  <div class="form-group">
    <%= f.text_field :content, :placeholder => "Comment Content" %>
  </div>
  <div class="form-group">
    <%= f.text_field :image, :placeholder => "Image URL" %>
  </div>
  <%= f.submit :class => 'btn btn-warning' %>
<% end %>
