<% if user_signed_in? %>
    <div class="row">
      <div class="col-sm-6">
        <div class="post well post-header">
          <%=@post.created_at.to_date.strftime('%A')%>
          <%=@post.created_at.to_date.strftime('%B')%>
          <%=@post.created_at.to_date.strftime('%d')%>,
          <%=@post.created_at.to_date.strftime('%Y') %>
          <div class="post post-updated-at">
            <% if @post.created_at != @post.updated_at %>
              <em>Updated <%= @post.updated_at.to_date.strftime('%A')%>
              <%=@post.updated_at.to_date.strftime('%B')%>
              <%=@post.updated_at.to_date.strftime('%d')%>,
              <%=@post.updated_at.to_date.strftime('%Y') %></em>
            <% end %>
          </div>
          <h3><%= @post.title %></h3>
          <div class="well post-content">
            <%= @post.content %>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <h2>Comment on this post</h2>
        <%= render 'form', :object => [@post, @comment]%>
      </div>
    </div>
<% else %>
    <h5> Please Login. </h5>
<% end %>
