<h3><%= link_to "Close Form", new_recommendation_path(:request_type => 'Close'), remote: true, class:"close-form" %></h3>

<div class="notice">
  <%= flash[:notice] %>
</div><br />
<%= form_for @recommendation, remote: true do |f| %>
  <div class="form-group">
    <%= f.text_field :title, :placeholder => "Title" %>
  </div>
  <div class="form-group">
    <%= f.text_field :description, :placeholder => "Description" %>
  </div>
  <div class="form-group">
    <%= f.text_field :url, :placeholder => "Website URL" %>
  </div>
  <div class="form-group">
    <%= f.text_field :image, :placeholder => "Image URL" %>
  </div>
  <%= f.submit :class => 'btn btn-warning' %>
<% end %>
