<h3><%= link_to "What do you like?!", new_recommendation_path, remote: true, class:"add-recommendation" %></h3>

<% @recommendations.each do |rec| %>
  <div class="well row recommendation">
    <div class="col-sm-6">
      <%=image_tag rec.image, width:160 %>
    </div>
    <div class="col-sm-6">
      <em><%=rec.recommender%> likes</em>
      <h3><%=link_to rec.title, rec.url %></h3>
      <h4><%= rec.description %></h4>

    </div>
  </div>
<% end %>
