<div class="row">
  <div class="col-sm-8">
    <div class="profile profile-name">
      <h1><%= @user.name %></h1>
    </div>

    <div class="profile profile-description">
      <%= @user.description %>
    </div>

    <div class="profile profile-linkedin">
      <%= link_to 'LinkedIn', @user.linkedin, :class => 'linkedin-link' %>
    </div>

    <div class="profile profile-github">
      <%= link_to 'Github', @user.github, :class => 'github-link'%>
    </div>

    </div>

  <div class="col-sm-4">
      <img class="profile profile-image" src="<%=@user.image%>" />
      <div class="profile profile-name">
        <h5>Username: <%= @user.username %></h5>
      </div>

      <div class="profile profile-email">
        Contact: <%= mail_to @user.email %>
      </div>
  </div>
</div>
