<% @users.each do |profile| %>
  <% if profile.admin %>
    <div class="row">
      <div class="col-sm-8">
        <div class="profile profile-name">
          <h1><%= profile.name %></h1>
        </div>

        <div class="profile profile-email">
          <%= mail_to profile.email %>
        </div>

        <div class="profile profile-description">
          <%= profile.description %>
        </div>
    </div>
      <div class="col-sm-4 profile-col-2">
          <img class="profile profile-image home-image" src="<%=profile.image%>" />
          <div class="profile profile-linkedin">
            <%= link_to image_tag('linkedin'), profile.linkedin, :class => 'linkedin-link' %>
          </div>

          <div class="profile profile-github">
            <%= link_to image_tag('github'), profile.github, :class => 'github-link'%>
          </div>
      </div>
    </div>
  <% end %>
<% end %>

<div class="row">
  <h3>What I can do...</h3>
  <% @skills.each do |skill| %>
      <div class="well col-sm-3 skill-name">
        <%= link_to skill.name, skill_path(skill) %>
      </div>
  <% end %>
</div>

<div class="row">
  <div class="col-sm-6 centered-col">
    <h3><%= link_to 'References', references_path, remote: true, class:'references'%></h3>
  </div>

  <div class="col-sm-6 centered-col">
    <h3><%= link_to 'Recommendations', recommendations_path, remote: true, class:'recommendations'%></h3>
    <div class="recommendations-div">
    </div>
  </div>
</div>
