<% @profiles.each do |profile| %>
  <div class="row">
    <div class="col-sm-8">
      <div class="profile profile-name">
        <h1><%= profile.name %></h1>
      </div>

      <div class="profile profile-email">
        <%= profile.email %>
      </div>

      <div class="profile profile-description">
        <%= profile.description %>
      </div>

      <div class="profile profile-linkedin">
        <%= link_to 'LinkedIn', profile.linkedin, :class => 'linkedin-link' %>
      </div>

      <div class="profile profile-github">
        <%= link_to 'Github', profile.github, :class => 'github-link'%>
      </div>

      </div>

    <div class="col-sm-4">
        <img class="profile profile-image" src="<%=profile.image%>" />
    </div>
  </div>
<% end %>

<div class="row">
  <h3>What I can do...</h3>
  <% @skills.each do |skill| %>
      <div class="col-sm-3 skill-name">
        <%= link_to skill.name, skill_path(skill) %>
      </div>
  <% end %>
</div>
