<div class="row">
  <div class="col-sm-12 edit-delete-skill">
    <%= link_to 'Add Project', new_skill_project_path(@skill, @project) %> |
    <%= link_to 'Edit Skill', edit_skill_path(@skill) %> |
    <%= link_to 'Delete Skill', skill_path(@skill),
                                :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %>
  </div>
</div>
<div class="row">
  <div class="col-sm-9">
    <h1><%= @skill.name %></h1>
    <h5><%= @skill.description %></h5>
  </div>
  <div class="col-sm-3">
    <% if @skill.projects.any? %>
      <h3>Projects</h3>
      <% @skill.projects.each do |project| %>
        <%= project.name %>
      <% end %>
    <% end %>
  </div>
</div>
