<div class="row">
  <div class=" well col-sm-12 secondary-nav edit-delete-skill">
    <%= link_to 'Add Project', new_skill_project_path(@skill, @project) %> |
    <%= link_to 'Edit Skill', edit_skill_path(@skill) %> |
    <%= link_to 'Delete Skill', skill_path(@skill),
                                :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %>
  </div>
</div>
<div class="row">
  <div class="col-sm-7">
    <h1><%= @skill.name %></h1>
    <div class="skill-description">
      <%= @skill.description %>
    </div>
  </div>
  <div class="col-sm-5 projects">
    <% if @skill.projects.any? %>
      <h3><%= @skill.name %> Projects</h3>
      <% @skill.projects.each do |project| %>
        <div class="project project-name">
          <img class="thumbnail" src="<%=project.image_url%>" />
          <%= link_to project.name, skill_project_path(@skill, project) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
