<div class="row">
  <div class="col-sm-12 secondary-nav edit-delete-project">
    <%= link_to 'Back to' + " " + @skill.name, skill_path(@skill) %> |
    <%= link_to 'Edit Project', edit_skill_project_path(@skill, @project) %> |
    <%= link_to 'Delete Project', skill_project_path(@skill, @project),
                                :data => {:confirm => "Are you sure?",
                                        :method => "delete"} %>
  </div>
<div class="row">
  <div class="col-sm-9">
    <img class="project-image" src="<%=@project.image_url%>" />
    <h1><%= @project.name %></h1>
    <h5><%= @project.description %></h5>
    <h5><%= link_to 'Project Link', @project.url %></h5>
  </div>
</div>
