<% if @references.any? %>
  <h3>References</h3>

  <% @references.each do |ref|%>
    <ul class="list-unstyled well">
      <li><h4><%= ref.name %></h4></li>
      <li><%= ref.job_title %>, <%= ref.employer %></li>
      <li><%= ref.email %></li>
      <li><%= ref.phone %></li>
      <li><%= ref.address %></li>
    </ul>
  <% end %>
<% else %>
  <h5>Check Back Soon!</h5>
<% end %>
