<% if @references.any? %>
  <h3>References</h3>

  <% @references.each do |ref|%>
    <ul class="list-unstyled well">
      <li><h3><%= ref.name %></h3></li>
      <li><h5><%= ref.job_title %>, <%= ref.employer %></h5></li>
      <li><h5><%= ref.email %></h5></li>
      <li><h5><%= ref.phone %></h5></li>
      <li><h5><%= ref.address %></h5></li>
    </ul>
  <% end %>
<% else %>
  <h5>Check Back Soon!</h5>
<% end %>
